.cTask{
    color: blue;
}
.uTask{
    color: blue;
}
.aTask{
    color: blue;
}
.loadingDiv{
    display: flex;
    justify-content:center ;
}
.taskCount{
    color: #ec4c63;

}
.completeDiv :hover{
    color: green
}